<a href="https://colab.research.google.com/github/syuan0525/crawler/blob/main/crawler_base2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests, json

In [7]:
url = requests.get(
    "https://www.twse.com.tw/rsrc/data/zh/home/values.json",
    params = {
        "_" : "1642077639362"
    }
)
data = json.loads(url.text)
for d in data["ranking"]["value"]:
  print(d["NAME"],d["NO"],d["AMOUNT"])

台積電 2330 258.13
長榮 2603 121.55
聯電 2303 73.08
新光金 2888 68.3
國泰金 2882 67.27
聯發科 2454 55.75
智原 3035 55.75
萬海 2615 51.91
陽明 2609 51.23
欣興 3037 48.86
富采 3714 44.98
富邦金 2881 44.09
宅配通 2642 43.74
宏達電 2498 34.68
中信金 2891 34.55
東森 2614 33.19
華航 2610 31.57
開發金 2883 30.43
辛耘 3583 29.72
南茂 8150 27.98

In [42]:
import time

url = requests.get(
    "https://mis.twse.com.tw/stock/api/getStockInfo.jsp",
    params = {
        "ex_ch" : "tse_2330.tw",
        "json" : "1",
        "delay" : "0",
        "_" : time.time()
    }    
)
data = json.loads(url.text)
high = data["msgArray"][0]["a"].split("_")
low = data["msgArray"][0]["b"].split("_")

high.reverse()

for d in high[1:]:
  print(d)
print("---------------------------")
for d in low[:-1]:
  print(d)

665.0000
664.0000
663.0000
662.0000
661.0000
---------------------------
660.0000
659.0000
658.0000
657.0000
656.0000