<a href="https://colab.research.google.com/github/syuan0525/crawler/blob/main/crawler_HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import requests, codecs
from bs4 import BeautifulSoup
import pandas as pd

In [10]:
df = pd.DataFrame(columns=["地區","氣溫"])

In [11]:
url = requests.get("https://www.cwb.gov.tw/V8/C/W/TemperatureTop/County_TMax_T.html")
req = BeautifulSoup(url.text,"html.parser")
data = req.find_all("tr")
for d in data:
  city = d.find("th").text
  temp = d.find("span",{"class" : "tem-C"}).text
  s = pd.Series([city, temp],index=["地區","氣溫"])
  df = df.append(s,ignore_index=True)

In [12]:
df

     地區    氣溫
0   基隆市  23.8
1   臺北市  24.0
2   新北市  24.5
3   桃園市  22.9
4   新竹市  19.8
5   新竹縣  21.9
6   苗栗縣  25.5
7   臺中市  27.5
8   彰化縣  26.1
9   南投縣  26.0
10  雲林縣  25.5
11  嘉義市  25.5
12  嘉義縣  27.1
13  臺南市  28.1
14  高雄市  28.2
15  屏東縣  28.3
16  宜蘭縣  27.9
17  花蓮縣  28.0
18  臺東縣  29.6
19  澎湖縣  22.6
20  金門縣  21.5
21  連江縣  17.6